name: Release Docker image

on:
  push:
    tags:
      - "v*.*.*"
jobs:
  publish:
    uses: josmase/workflows/.github/workflows/docker-build.yaml@main
    with:
      registry_url: ${{ vars.REGISTRY_URL }}
      registry_cache_url: ${{ vars.REGISTRY_CACHE_URL }}
      name: ${{ github.repository }}
      tag: ${{ github.ref_name }}
      push: true
    secrets:
      registry_username: ${{ secrets.REGISTRY_USERNAME }}
      registry_password: ${{ secrets.REGISTRY_PASSWORD }}
    permissions:
      contents: read
      attestations: write

  deploy:
    needs: publish
    uses: josmase/workflows/.github/workflows/deploy.yaml@main
    with:
      image-version: ${{ github.ref_name }}
      image-name: ${{ github.repository }}
      file-path: apps/production/downloader/helmrelease.yaml
      repository: josmase/flux
      namespace: default
      kind: helmrelease
      name: downloader
    secrets:
      github-token: ${{ secrets.AUTO_DEPLOY_PAT }}
      kubeconfig: ${{ secrets.KUBECONFIG }}
    permissions:
      contents: read
      deployments: write
